.mainContent {
  background-color:#15202b;
  display: flex;
  width: 100vw;
  height: 100vh;
  /* padding-bottom: 20px;
  padding-left: 30px; */
  }

.leftContent {
  background-color:#15202b;
  width: 20%;
  border-right: 1px solid rgb(98, 94, 94);
  padding: 20px;

}

.centerContent {
  width: 50%;
  display: flex;
}

.rightContent {
  background-color:#15202b;
  width: 30%;
  border-left: 1px solid rgb(98, 94, 94);

}

.logo {
  transform: scaleY(-1) scaleX(-1);

}

.home {
  height: 20%;
  width: 100%;
  padding-left: 20px;
  border-bottom: 1px solid rgb(98, 94, 94); ;
}

.h2 {
  color: white;
}
.postTweet {
  display: flex;
  height: 20px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.p{
  color: white;
  margin-right: 20px;
}

.input {
  margin-bottom: 50px;
}

.trends {
  padding-left: 20px;
}